{#<form method="post" style="display: inline" action="{{ path('remover_delete', {'id': remover.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet enleveur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remover.id) }}">#}
<button class="btn btn-danger"><i class="fas fa-trash"></i> {{ label|default('') }}</button>
{#</form>#}