{% extends 'base-admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block page_title %}Tableau de bord{% endblock %}
{% block page_title2 %}Tableau de bord{% endblock %}
{% block page_subtitle %}Espace Utilisateur{% endblock %}

{% block page_content %}
    <div class="row">
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: waitingTransfer,
        name_bloc: waitingTransfer > 1 ? 'Transferts en attente' : 'Transfert en attente',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-yellow'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: waitingRemoval,
        name_bloc: waitingRemoval > 1 ? 'Enlèvements en attente' : 'Enlèvement en attente',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-blue'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: finalizedTransfer,
        name_bloc: finalizedTransfer > 1 ? 'Transferts finalisés' : 'Transfert finalisé',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-green'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: finalizedRemoval,
        name_bloc: finalizedRemoval > 1 ? 'Enlèvements finalisés' : 'Enlèvement finalisé',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-info'
      } %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-list"></i> Les 20 derniers enlèvements traités</h3>
                  {#<div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                          <i class="fas fa-times"></i></button>
                  </div>#}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Demandeur</th>
                                    <th>Date de soumission</th>
                                    <th>Date de traitement</th>
                                    <th>Avis</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Demandeur</th>
                                    <th>Date de soumission</th>
                                    <th>Date de traitement</th>
                                    <th>Avis</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
              {#<div class="card-footer">
                  Footer
              </div>#}
            </div>
        </div>
    </div>

{% endblock %}
