{% extends 'base.html.twig' %}

{% block title %}Mail de récupération envoyé{% endblock %}

{% block body %}
    <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 mt-5">

        <h3 class="text-center">Récupération de compte</h3>
        <div>
          <p>
            Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans {{ tokenLifetime|date('H') }} heure(s).
          </p>
          <p>Si vous ne recevez pas d'e-mail, veuillez vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez à nous</a>.</p>
        </div>
      {% for flashError in app.flashes('reset_password_error') %}
          <div class="alert alert-danger" role="alert">{{ flashError }}</div>
      {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a href="{{ path('home_page') }}">Retourner à l'accueil</a>
    </div>
{% endblock %}