{% extends 'base-admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block page_title %}Tableau de bord{% endblock %}
{% block page_title2 %}Tableau de bord{% endblock %}
{% block page_subtitle %}
  {% if is_granted('ROLE_CUSTOMS_OFFICER') %}
    Douanier du Parc
  {% else %}
    Commissionnaire agréé{# en Douane#}
  {% endif %}
{% endblock %}

{% block page_content %}
    <div class="row">
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: finalized,
        name_bloc: finalized > 1 ? 'Enlèvements finalisés' : 'Enlèvement finalisé',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: path('removal_index_finalized'),
        type_bloc: 'bg-green'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: waiting,
        name_bloc: waiting > 1 ? 'Enlèvements en attente' : 'Enlèvement en attente',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: path('removal_index'),
        type_bloc: 'bg-yellow'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: remover,
        name_bloc: remover > 1 ? 'Enleveurs' : 'Enleveur',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: path('remover_index'),
        type_bloc: 'bg-blue'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: vehicle,
        name_bloc: vehicle > 1 ? 'Véhicules' : 'Véhicule',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: path('vehicle_index'),
        type_bloc: 'bg-info'
      } %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-list"></i> Les 20 derniers enlèvements traités</h3>
                  {#<div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                          <i class="fas fa-times"></i></button>
                  </div>#}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <table class="datatable table table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>&ensp;Parc</th>
                                    <th class="text-center">Demandeur</th>
                                    <th class="text-center">Date de soumission</th>
                                    <th class="text-center">Date de traitement</th>
                                    <th class="text-right">Avis&ensp;&ensp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for treatment in listTreatment %}
                                    <tr>
                                        <td>{{ treatment.fleet.name }}</td>
                                        <td class="text-center">{{ treatment.agent.fullname }}</td>
                                        <td class="text-center">{{ treatment.createdAt|date('d/m/Y à H:m:s') }}</td>
                                        <td class="text-center">{{ treatment.processing.createdAt|date('d/m/Y à H:m:s') }}</td>
                                        <td class="text-right">
                                          {% if treatment.status == 'rejected' %}
                                              <button style="width: 10em" disabled class="btn btn-outline-danger">Rejeter</button>
                                          {% elseif treatment.status == 'inprogress' %}
                                              <button style="width: 10em" disabled class="btn btn-outline-warning">En cours</button>
                                          {% elseif treatment.status == 'finalized' %}
                                              <button style="width: 10em" disabled class="btn btn-outline-success">Approuver</button>
                                          {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                  <tr>
                                      <td colspan="5" class="text-center">
                                          Aucun de traitement d'enlèvement trouvé
                                      </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>&ensp;Parc</th>
                                    <th class="text-center">Demandeur</th>
                                    <th class="text-center">Date de soumission</th>
                                    <th class="text-center">Date de traitement</th>
                                    <th class="text-right">Avis&ensp;&ensp;</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
              {#<div class="card-footer">
                  Footer
              </div>#}
            </div>
        </div>
    </div>

{% endblock %}
