{% extends 'base-admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block page_title %}Tableau de bord{% endblock %}
{% block page_subtitle %}Commissionnaire agréé{# en Douane#}{% endblock %}

{% block page_content %}
    <div class="row">
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: '2',
        name_bloc: 'Enlèvements en cours',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-red'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: '2',
        name_bloc: 'Enlèvements finalisés',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-yellow'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: '2',
        name_bloc: 'Enleveurs',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-green'
      } %}
      {% include 'includes/dashboard_bloc.html.twig' with {
        total_item: '2',
        name_bloc: 'Véhicules',
        icon_bloc: 'fas fa-tachometer-alt',
        link_more_info: '#',
        type_bloc: 'bg-aqua'
      } %}
    </div>

    <div class="row">
    </div>
{% endblock %}
