<div class="col-12 col-sm-12 col-md-12 pt-3 pb-3 body bg-dark" style="color: white">
  <div class="mb-1">
    <hr>
    <div class="top-menu">
      <span class="menu-top-item">Plan du site</span>|
      <span class="menu-top-item">Mentions légales</span>|
      <span class="menu-top-item">Conditions générales d'utilisation</span>|
      <span class="menu-top-item">Réalisé par NELDEV <img src="{{ asset('build/images/guest/gmlg.ico') }}" class="ml-2" width="20" alt="LOGO NelDev"></span>
    </div>
  </div>
</div>