<div align="center" class="col-12 col-sm-12 col-md-12 pt-3 pb-3 body bg-dark" style="color: white">
  <div class="text-center mb-1">
    <div class="menu-top d-flex flex-row m-auto">
      <div class="flex-fill btn-plus menu-top-item">Plan du site</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Mentions légales</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Conditions générales d'utilisation</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Réalisé par NELDEV <img src="{{ asset('build/images/guest/gmlg.ico') }}" style="position: relative; top: -2px" class="ml-2" width="20" alt="LOGO NelDev"></div>
    </div>
  </div>
</div>