<div class="d-none d-sm-block col-sm-12 col-md-12 pt-0 pb-1 mt-0 mb-1 body">
  <div class="row">
    <div class="col-6 col-sm-3">
      <h3>TRANSITAIRE</h3>
      <p>Tout savoir sur les transitaires et leur rôle dans la gestion des véhicules entrants</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>MANDATAIRE</h3>
      <p>Tout savoir sur les mandataires et leur rôle dans l'import et l'export des véhcules</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>TRANSFERT</h3>
      <p>Tout savoir sur le transfert des véhicules après importation vers les parcs</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>ENLÈVEMENT</h3>
      <p>Tout savoir sur les procédures à suivre pour l'enlèvement de votre véhicules en quelques heures</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
  </div>
</div>