<div class="col-12 col-sm-12 col-md-12 pl-1 pr-2 body">
  <div class="row p-2">
    <div class="col-12 col-sm-4 p-2 pl-0">

      <div class="parc-container col-12 text-center pl-0 pr-0">
        <h3 class="parc-title mb-3 p-2">Parcs de ventes</h3>
        <p>Liste des gestionnaires de parc. Veuillez selectionner un parc pour voir ses informations</p>
        <div class="form-group m-2">
          <select name="" id="pack" class="form-control">
            <option>Selectionnez un parc</option>
            <option>TAG A,B,D</option>
            <option>SOBAMAR</option>
            <option>ROYAL</option>
            <option>LAMA</option>
            <option>STEPHANIE</option>
            <option>AL-WOUDJOUD</option>
            <option>TAU A,B</option>
            <option>BALLA (Ekpè)</option>
            <option>FADI-STAR</option>
            <option>RANDA</option>
            <option>RITIS 1,2,3</option>
            <option>AT-SALAM</option>
            <option>ASCOMAR</option>
            <option>YASMINE</option>
            <option>JANA 1</option>
            <option>RACHA</option>
            <option>FRANITA</option>
            <option>COUBAICI</option>
            <option>SOGIC</option>
            <option>TRADE PARC</option>
            <option>TREE KING</option>
            <option>Domiane FIFA</option>
            <option>Domaine GTS</option>
            <option>AL MADINA</option>
            <option>BAHSOUN</option>
            <option>MIG INTERNATIONAL</option>
            <option>SHARDI-CAR</option>
            <option>NAS-WEBE</option>
            <option>STAR FIVE</option>
            <option>HADI CAR</option>
            <option>BALLA</option>
            <option>HOVAS + ANNEXE</option>
            <option>GENERAL CONTRACTOR</option>
            <option>MICHA</option>
            <option>MICHA ANNEXE</option>
            <option>CONSULTIVE</option>
            <option>O-G Parc</option>
            <option>SEATRAC</option>
            <option>ZF</option>
            <option>ENI-TRANS</option>
            <option>SOBENI</option>
            <option>SODECY</option>
            <option>DAS</option>
            <option>DAS AM</option>
            <option>ATLANTIQUE PARC</option>
            <option>CONTRACTOR</option>
            <option>RANDA (SEKANDJI)</option>
            <option>DOM TRACO</option>
            <option>ROSE PARC</option>
          </select>
        </div>
        <div class="form-group mt-3 mb-2">
          <button onclick="alert('Fonctionnaité non codé pour le momment')" class="btn btn-info pl-4 pr-4">
            Afficher Info
          </button>
        </div>
      </div>

      <div class="parc-container col-12 text-center pl-0 pr-0 mt-3">
        <h3 class="parc-title mb-3 p-2">Commissionnaires</h3>
        <p>Liste des commissionnaires agréés en Douanes. Veuillez selectionnner un commissionnaire pour afficher ses
          informations</p>
        <div class="form-group m-2">
          <select name="" id="pack" class="form-control">
            <option>Selectionnez un commissionnaire</option>
            <option>TRANSIT PLUS</option>
            <option>MOUSTAPHA TRANSIT TRANSPORT</option>
            <option>SOTRAMAC</option>
            <option>SOCIETE TRANS-COMLAN S.A</option>
            <option>CITRACO</option>
            <option>RICH-TRANS BENIN</option>
            <option>SICAAM-BENIN</option>
            <option>S T C PLUS</option>
            <option>GROUP SOUWI TRANSIT</option>
            <option>SMCT</option>
            <option>CAT-BENIN</option>
            <option>GROUPE BESOINS HUMAINS</option>
            <option>COTRIMA</option>
            <option>SITREXCI</option>
            <option>SOREMCO-TRANS</option>
            <option>SOMABIZ</option>
            <option>JINDA SA</option>
            <option>SOMITRACO</option>
            <option>FC 2A TRANSIT-INTER</option>
            <option>TRANS-HOUEDAGBA SA</option>
            <option>TRANS-MENSAH SARL</option>
            <option>C.N.T.T. SARL</option>
            <option>SOGETRAC</option>
            <option>TRANSIT YAYA SAKA</option>
            <option>TRANSIT de-SOUZA JULIEN VINCENT</option>
            <option>TRANSIT KINIFFO ROBERT</option>
            <option>SOCIETE DE TRANSIT DE TRANSPORT</option>
            <option>ALAOFE B. UNITRANSIT</option>
            <option>TRANSIT LAWANI</option>
            <option>SONACOP FONCTIONNEMENT</option>
            <option>S O C O T R A – B E N I N.</option>
            <option>EXTRA-TRANSIT</option>
            <option>BENIN BOUSSOLE TRANSIT CONSIGNATION</option>
            <option>TRAVCO</option>
            <option>TRANSIT LOKO KAMAL</option>
            <option>D2R TRANS SARL</option>
            <option>SOTRAC</option>
            <option>PROLOTTRAC-BENIN SARL</option>
            <option>NITRA BENIN</option>
            <option>I D A A</option>
            <option>SONACOP</option>
            <option>GROUP ONYX TRANS SA</option>
            <option>COTRICOM&nbsp; SARL</option>
            <option>CICOTRA-SA</option>
            <option>TRANS-SOHA</option>
            <option>WORLD TRADE &amp; FINANCES</option>
            <option>TIMPEX INTERNATIONAL</option>
            <option>C. S. BETHESDA</option>
            <option>SOCIETE A. G. S.</option>
            <option>FAGBOHOUN ET FILS</option>
            <option>ASSOC.NEERL.ASSIST.DEVELOP.</option>
            <option>MAERSK LOGISTICS BENIN</option>
            <option>TRANS-INTRA BENIN</option>
            <option>COTRAM – BENIN</option>
            <option>A G E T R A C</option>
            <option>T R A N S A R M&nbsp;&nbsp;&nbsp; 2A</option>
            <option>M. M. S</option>
            <option>SOTRICO</option>
            <option>COBENAM</option>
            <option>GERMAN COMPAVY</option>
            <option>ADJACOS-TRANSIT S.A</option>
            <option>S G T C</option>
            <option>TRANS-OMAR</option>
            <option>SOTRACOM</option>
            <option>SOTRAMCO</option>
            <option>COTRACO</option>
            <option>DOM-TRACO</option>
            <option>S.I.T.M.A.T</option>
            <option>SOCIETE SEESAV COMPANY SA</option>
            <option>SOCIETE TRANS-ATHOMS</option>
            <option>SOCIETE BETSALEEL Sarl</option>
            <option>SACOTRA</option>
            <option>SIVOTRANS</option>
            <option>T.C.A.A.</option>
            <option>CAALT</option>
            <option>NECOTRANS BENIN SA.</option>
            <option>GAMA-BENIN TRANS</option>
            <option>GOLFE TRANSIT INTERNATIONAL</option>
            <option>STE OWOSSAN-TRANSIT SARL</option>
            <option>ENITRANS</option>
            <option>CENTRE NATIONAL UNIV COTONOU</option>
            <option>AROUN INTERNATIONAL SA</option>
            <option>EL HADJ GAFARI BADIROU</option>
            <option>EL HADJ SAKASEFOU</option>
            <option>AKPITITIDJANI ABDOU</option>
            <option>SEGLA AMBROISE</option>
            <option>SAGA BENIN</option>
            <option>AFRIQUE GROUPAGE</option>
            <option>TRANSCO-BENIN</option>
            <option>TRANSCAP-BENIN</option>
            <option>ATS</option>
            <option>SADELCOM LOGISTIQUES</option>
            <option>LAW-TRANS</option>
            <option>CITRACO</option>
            <option>DELMAS</option>
            <option>WORLD LINK BENIN sa</option>
            <option>SOBEMAR</option>
            <option>G. S. P .&nbsp; BENIN</option>
            <option>A. T. B.</option>
            <option>TRANCIS-BENIN</option>
            <option>DOBA SHIPPING INTERNATIONAL</option>
            <option>SAF-TRANSACTIONS</option>
            <option>THABOR-SARL</option>
            <option>COBETRAC</option>
            <option>HERMON TRANS S.A</option>
            <option>BETRACO INTERNATIONAL SA</option>
            <option>TRANS ATLANTIC SHIPPING SERVICES</option>
            <option>SAFRIT</option>
            <option>SAT SA</option>
            <option>ORE TRANS Sarl</option>
            <option>Société HASBOUNALAOU</option>
            <option>IBS TRACO S.A.</option>
            <option>TRANS-SOHA</option>
            <option>SOCOTEB SA</option>
            <option>G-KB – TSI sa</option>
            <option>STE ELITE TRANS SARL</option>
            <option>ASI SARL</option>
            <option>SOCIETE CONSULVIT BENIN SARL</option>
            <option>SOBETRACO – SARL</option>
            <option>SOCIETE COSFRANC-TRANSIT S.A</option>
            <option>NOVOTRANS &amp; CIE</option>
            <option>COTRANS – ED</option>
            <option>SADIF SARL</option>
            <option>CHRONO-TRANSIT</option>
            <option>AZ-COMPAGNIE</option>
            <option>AFRICA LOGISTICS &amp; MARINE (ALM) SA</option>
            <option>SIMTRAM BENIN</option>
            <option>SOBIMEX-TRACO</option>
            <option>SOCOTEB SA</option>
            <option>OMA LOGISTICS BENIN</option>
            <option>INTRA-BENIN</option>
            <option>SOCOTRAC</option>
            <option>RIMAVI TRANS SARL</option>
            <option>MAGUESTO</option>
            <option>WORLD TRANS INTER S.A</option>
            <option>CONTRAT-BENIN</option>
            <option>NORA SERVICES INTERNATIONAL</option>
            <option>AFRICAN TRANSIT SARL</option>
            <option>TRANSIMARJN SARL</option>
            <option>MAFRITEX SARL</option>
            <option>MEGAL TRANS SA</option>
            <option>S T S – BENIN</option>
            <option>STE CEXCI TRANS BENIN SA</option>
            <option>G.CO.T-TRANS SA</option>
            <option>SATCO &amp; CIE</option>
            <option>TRANS-SAH</option>
            <option>SITCB SARL</option>
            <option>TRANS – INTER</option>
            <option>GONSIL TRANSIT TRANSPORT</option>
            <option>BETREXCO</option>
            <option>KOI EMMANUEL</option>
            <option>SUPERMARITIME-BENIN</option>
            <option>GBETONDJI TRANS-BENIN</option>
            <option>CONTINENTAL TRANSIT</option>
            <option>ISAM GROUPE SARL</option>
            <option>SAF-TRANSIT</option>
            <option>NACHITA TRANS. SA</option>
            <option>SOCIETE DE CONSIGNATION ET TRANSIT</option>
            <option>BADIROU Gafari Mouhamed</option>
            <option>DAMCO BENIN SA</option>
            <option>CAT-LOGISTICS BENIN</option>
            <option>TRANS-GNICAR</option>
            <option>SENALONHAN TRANSIT ET LOGISTIQUES</option>
            <option>STE INTERNAT. DE TRANSIT TOURE SITT</option>
            <option>TONASSE ET FILS TRANS</option>
            <option>CHABLIS FRANCOIS</option>
            <option>CALIFA TRANSIT ET CONSIGNATION</option>
            <option>SM&nbsp; TRACO SA</option>
            <option>AM TRACO</option>
            <option>TRANSIT ANATO K. FRANCOIS</option>
            <option>TRANSIT Z – M</option>
            <option>BOLLORE AFRICA LOGISTICS BENIN</option>
            <option>AL WOUDJOUD TRANS</option>
            <option>AFRIQUE TRANSIT</option>
            <option>S.C.T.BENIN SARL</option>
            <option>CUSCO GROUP</option>
            <option>SOBEMAP</option>
            <option>GROUPE TRANS MAX BENIN SA</option>
            <option>S.N.T.E.</option>
            <option>DHL INTERNATIONAL</option>
            <option>TRANSIT AGOLI-AGBO</option>
            <option>CBCT</option>
            <option>AFRICA – TRANS</option>
            <option>OCCASIONNEL</option>
            <option>AWOD-INTER SA</option>
            <option>ADEOLA &amp; FILS</option>
            <option>SOTRACA</option>
            <option>GRAMAK-TRACO</option>
            <option>GROUPE OREDOLA SARL</option>
            <option>U. T. C.</option>
            <option>ARIDJEMANGBAGBE_ORE</option>
            <option>AMAL ET FILS</option>
            <option>SOBETRANS-SHIPPING</option>
            <option>G &amp; G&nbsp; FANOU Sarl</option>
            <option>LEMOINE ET CIE</option>
            <option>SOTEC SARL</option>
            <option>STE VILOMEY SA</option>
            <option>ATRAL</option>
            <option>SOCIETE FADIL-TRANS SA</option>
            <option>IBS TRACO S.A</option>
            <option>TRANSCEB</option>
            <option>ANGELA TRANS</option>
            <option>CHRONO MISSIONS INTERNATIONALES</option>
            <option>C.I.T.C. SA</option>
            <option>ELOHIM INTERNATIONAL TRANSIT sa</option>
            <option>OLTRACO</option>

          </select>
        </div>
        <div class="form-group mt-3 mb-2">
          <button onclick="alert('Fonctionnaité non codée pour le momment')" class="btn btn-info pl-4 pr-4">
            Afficher Info
          </button>
        </div>
      </div>

    </div>


    <div class="col-sm-8">
      <div class="row">
        <div class="col-12 col-sm-8 p-1 pl-1">
          <div class="info text-justify mr-2">
            <h5 style="
    text-align: center;
    color: RED;
    font-weight: bolder;
">COMMUNIQUES URGENTS</h5>
            <ul>
              <li class="mb-3">Depuis le 1er mars 2020, le Gouvernement du Bénin accorde une réduction de 30% sur les
                droits de douane des véhicules d'occasion acquis et mis à la consommation au Bénin...
                <a class="btn-plus" href="http://usat.test/#">&gt;&gt; Lire la suite</a></li>
              <li>D'importants dégâts enregistrés dans un incendie le dimanche 15 mars 2020 sur le parc automobile de
                vente de véhicules d'occasion Micha à Sèkandji. Des douzaines de voitures ont été touchées par les
                flammes...
                <a class="btn-plus" href="http://usat.test/#">&gt;&gt; Lire la suite</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-4 p-1 pl-1">
          <div class="text-center panel-inscription p-2">
            <div class="mb-3">
              <img style="margin-bottom: 0.7em;" width="100%" src="{{ asset('build/images/guest/logo2.png') }}" alt="">
            </div>
            <div>
              <div class="form-group">
                <input type="text" placeholder="Identifiant" name="id" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Code d'accès" name="pwd" class="form-control">
              </div>
            </div>
            <div>
              <button class="btn btn-info pl-3 pr-3">
                <i class="fa fa-connectdevelop"></i>
                Connexion
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <div class="img">
            <img width="100%" src="{{ asset('build/images/guest/rubon1-ad5fc.png') }}" alt="">
          </div>
          <div class="text">
            <ul>
              <li><a href="https://cv.rydynyart.com/">Usat-Bénin et ses structures de fonctionnement</a></li>
              <li><a href="https://cv.rydynyart.com/">Historique de la filière et Recommandations</a></li>
            </ul>
          </div>
        </div>

        <div class="col-6">
          <div class="img">
            <img width="100%" src="{{ asset('build/images/guest/rubon3-920f9.png') }}" alt="">
          </div>
          <div class="text">
            <ul>
              <li><a href="https://cv.rydynyart.com/#">Forme et système juridique</a></li>
              <li><a href="https://cv.rydynyart.com/#">Activités et les cibles</a></li>
              <li><a href="https://cv.rydynyart.com/#">Visions, Missions et Objectifs de Usat-Benin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>