<div class="d-none d-sm-block col-sm-12 col-md-12 pt-0 pb-1 mt-0 mb-1 body">
  <div class="row">
    <div class="col-6 col-sm-3">
      <h3>TRANSITAIRE</h3>
      <p>Tout savoir sur les transitaires et leur rôle dans la gestion des véhicules entrants</p>
      <a class="btn-pls" data-toggle="modal" data-target="#modal-transitaire" href="#">
        <img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus">
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>MANDATAIRE</h3>
      <p>Tout savoir sur les mandataires et leur rôle dans l'import et l'export des véhcules</p>
      <a class="btn-pls" data-toggle="modal" data-target="#modal-" href="#">
        <img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus">
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>TRANSFERT</h3>
      <p>Tout savoir sur le transfert des véhicules après importation vers les parcs</p>
      <a class="btn-pls" data-toggle="modal" data-target="#modal-" href="#">
        <img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus">
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>ENLÈVEMENT</h3>
      <p>Tout savoir sur les procédures à suivre pour l'enlèvement de votre véhicules en quelques heures</p>
      <a class="btn-pls" data-toggle="modal" data-target="#modal-" href="#">
        <img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus">
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-transitaire">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">TRANSFERT</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        le corps à mettre en place
      </div>
      <div class="modal-footer text-left">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer text-left">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer text-left">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer text-left">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

