<div class="col-12 col-sm-12 col-md-12 pt-4 pb-3 body">
  <div class="row">
    <div class="col-6 col-sm-3">
      <h3>SÉCURITÉ</h3>
      <p>Tout savoir sur la sécurité et la vitesse maximale d'une voiture sans permis dans notre localité</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>LÉGISLATION</h3>
      <p>Tout savoir sur le permis AM et la législation des voitures sans permis en République du Bénin</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>TRANSFERT</h3>
      <p>Tout savoir sur le transfert des véhicules après importation vers les parcs</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
    <div class="col-6 col-sm-3">
      <h3>ENLÈVEMENT</h3>
      <p>Tout savoir sur les procédures à suivre pour l'enlèvement de votre véhicules en quelques heures</p>
      <a class="btn-plus" href="http://usat.test/#"><img src="{{ asset('build/images/guest/plus.png') }}" alt="Plus"></a>
    </div>
  </div>
</div>