<form method="post" style="display: inline" action="{{ path('importer_delete', {'id': importer.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet importateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ importer.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> {{ label|default('') }}</button>
</form>
