.hand {
    cursor: pointer;
}

.nav-title {
    padding: 0.4em; font-weight: bold
}

.navbar-dark, .navbar-lightblue {
    background-color: #3c8dbc;
}

.bg-primary {
    background-color: #3c8dbc !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #3c8dbc;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 190px;
    padding: 10px;
    text-align: center;
}

.menu-header{
    color: #ccc;
}

.card-title{
    font-weight: bold;
}