<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Véhicule existant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 text-bold text-center mt-3 mb-3">
                Les informations que vous avez entré correspondent à ce véhicule
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              {% include 'vehicle/show_table.html.twig' %}
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <a href="{{ removal_new_saver_link }}" id="removal-use-vehicle" class="btn btn-success">Continuer avec ce véhicule <i class="fa fa-angle-double-right"></i></a>
    </div>
</div>