<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center">
  <div class="col-md-10 offset-md-1">
    <h3 class="text-bold mb-0">REPUBLIC DU BENIN</h3>
    <p class="mt-0 mb-0">****_****</p>
    <p class="h4 mt-0 mb-0">Filière des Véhicules d'Occasion</p>
    <p class="mb-0 mt-0">****_****</p>
    <h4 style="text-decoration: underline; color: #1fc8e3">ATTESTATION DE SOUSCRIPTION DE POLICE <br>D'ASSURANCES ET TRANSFERT</h4>
    <table class="table table-borderless">
      <tr>
        <td class="text-left" colspan="3"><b>Parc :</b></td>
        <td class="text-left" colspan="3"><b>P/C :</b></td>
      </tr>
      <tr>
        <td class="text-left" colspan="2"><b>Marque :</b></td>
        <td class="text-left" colspan="2"><b>Châssis complet :</b></td>
        <td class="text-left" colspan="2"><b>Date :</b></td>
      </tr>
      <tr>
        <td class="text-left" colspan="2"><b>Navire :</b></td>
        <td class="text-left" colspan="2"><b>Date d’arrivée :</b></td>
        <td class="text-left" colspan="2"><b>Consignataire :</b></td>
      </tr>
      <tr>
        <td class="text-left" colspan="2"><b>Date :</b></td>
        <td class="text-left" colspan="2"></td>
        <td class="text-left" colspan="2"></td>
      </tr>
    </table>
    <p style="text-decoration: underline">Signatures</p>
    <div class="row pt-4">
      <div class="col-md-5">
        <p class="h5" style="text-decoration: underline"><b>L’Administration Délégué</b></p>
      </div>
      <div class="col-md-5">
        <p class="h5" style="text-decoration: underline"><b>Contrôleur Général</b></p>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
