<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <h2>REPUBLIC DU BENIN</h2>
  <p>****_****</p>
  <p>Filière des Véhicules d'Occasion</p>
  <p>****_****</p>
  <h2>ATTESTATION DE SOUSCRIPTION DE POLICE D'ASSURANCES ET TRANSFERT</h2>
  <p><b>Parc :</b> </p>
  <p><b>P/C :</b> </p>
  <p><b>Marque :</b> </p>
  <p><b>Châssis complet :</b> </p>
  <p><b>Date :</b> </p>
  <p><b>Navire :</b> </p>
  <p><b>Date d’arrivée :</b> </p>
  <p><b>Consignataire :</b> </p>
  <p><b>Date :</b> </p>
  <p>Signatures</p>
  <p>L’Administration Délégué</p>
  <p>Contrôleur Général</p>
</div>
</body>
</html>
