<!--
  ________        .__    ________  ________                 .___
 /  _____/  _____ |  |  /  _____/  \______ \   _______  __  |   | ____   ____
/   \  ___ /     \|  | /   \  ___   |    |  \_/ __ \  \/ /  |   |/    \_/ ___\
\    \_\  \  Y Y  \  |_\    \_\  \  |    `   \  ___/\   /   |   |   |  \  \___
 \______  /__|_|  /____/\______  / /_______  /\___  >\_/    |___|___|  /\___  > /\
        \/      \/             \/          \/     \/                 \/     \/  \/
Analyst Programmer, ready to transform even your crazies ideas into an application
                        [ https://marnelfr.github.io ]
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | UsaTum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">
      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
      {% endblock %}
    </head>
    <body>
        <div class="container-md">
          {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
