<!DOCTYPE html>
<html class="" style="height: auto;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %} | USAT-Benin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
  {% endblock %}

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="sidebar-mini" style="height: auto;">
  <div class="wrapper">
    {% include 'includes/nav.html.twig' %}

    {% include 'includes/menu.html.twig' %}

    <div class="content-wrapper">

      {% include 'includes/header.html.twig' %}

      <section class="content">
        {% block page_content %}{% endblock %}
      </section>

    </div>

    {% include 'includes/footer.html.twig' %}
  </div>

  {% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
  {% endblock %}
</body>
</html>