{% if removal.status != 'waiting' %}
    <button disabled title="Seulement les demandes en attentes peuvent être annulées" class="btn btn-danger"><i class="fas fa-times-circle"></i> {{ label|default('') }}</button>
{% else %}
    <form method="post" style="display: inline" action="{{ path('removal_delete', {'id': removal.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler la demande d\'enlevement ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ removal.id) }}">
        <button class="btn btn-danger"><i class="fas fa-times-circle"></i> {{ label|default('') }}</button>
    </form>
{% endif %}
