{% extends 'base.html.twig' %}

{% block title %}Edit Removal{% endblock %}

{% block body %}
    <h1>Edit Removal</h1>

    {{ include('removal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('removal_index') }}">back to list</a>

    {{ include('removal/_delete_form.html.twig') }}
{% endblock %}
